html {
	min-width: 100%;
	width: 100%;
	max-width: 100%;

	min-height: 100%;
	height: 100%;
	max-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	animation: bgc infinite 20s;
}

h1 {
	text-align: center;
	font-size: 50px;
}

hr {
	margin-top: -10px;
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, transparent, #19D4FF, transparent);
	background-image: -moz-linear-gradient(left, transparent, #19D4FF, transparent);
	background-image: -ms-linear-gradient(left, transparent, #19D4FF, transparent);
	background-image: -o-linear-gradient(left, transparent, #19D4FF, transparent);
}

li {
	padding-top: 25px;
	width: 190px;
}

a {
	text-decoration: none;
	color: black;
	transition-duration: 0.4s;
}

a:hover {
	color: #19D4FF;
}

div {
	display: block;
}

#Left {
	float: left;
	margin-left: 15px;
	width: 33%;
	height: 100%;
}

#Middle {
	float: left;
	width: 33%;
	height: 100%;
}

#Right {
	float: left;
	width: 33%;
	height: 100%;
}

@keyframes bgc {
	0% {
		background-color: #BFECF7;

		box-shadow:
			inset #19D4FF 0 0 0 5px,
			inset #18CDF7 0 0 0 1px,
			inset #53DFFF 0 0 0 10px,
			inset #50D8F7 0 0 0 11px,
			inset #8CE9FF 0 0 0 16px,
			inset #88E2F7 0 0 0 17px,
			inset #C5F4FF 0 0 0 22px,
			inset #BFECF7 0 0 0 23px;
	}

	7% {
		background-color: #C5F4FF;

		box-shadow:
			inset #BFECF7 0 0 0 5px,
			inset #19D4FF 0 0 0 1px,
			inset #18CDF7 0 0 0 10px,
			inset #53DFFF 0 0 0 11px,
			inset #50D8F7 0 0 0 16px,
			inset #8CE9FF 0 0 0 17px,
			inset #88E2F7 0 0 0 22px,
			inset #C5F4FF 0 0 0 23px;
	}

	14% {
		background-color: #88E2F7;

		box-shadow:
			inset #C5F4FF 0 0 0 5px,
			inset #BFECF7 0 0 0 1px,
			inset #19D4FF 0 0 0 10px,
			inset #18CDF7 0 0 0 11px,
			inset #53DFFF 0 0 0 16px,
			inset #50D8F7 0 0 0 17px,
			inset #8CE9FF 0 0 0 22px,
			inset #88E2F7 0 0 0 23px;
	}

	21% {
		background-color: #8CE9FF;

		box-shadow:
			inset #88E2F7 0 0 0 5px,
			inset #C5F4FF 0 0 0 1px,
			inset #BFECF7 0 0 0 10px,
			inset #19D4FF 0 0 0 11px,
			inset #18CDF7 0 0 0 16px,
			inset #53DFFF 0 0 0 17px,
			inset #50D8F7 0 0 0 22px,
			inset #8CE9FF 0 0 0 23px;
	}

	28% {
		background-color: #50D8F7;

		box-shadow:
			inset #8CE9FF 0 0 0 5px,
			inset #88E2F7 0 0 0 1px,
			inset #C5F4FF 0 0 0 10px,
			inset #BFECF7 0 0 0 11px,
			inset #19D4FF 0 0 0 16px,
			inset #18CDF7 0 0 0 17px,
			inset #53DFFF 0 0 0 22px,
			inset #50D8F7 0 0 0 23px;
	}

	36% {
		background-color: #53DFFF;

		box-shadow:
			inset #50D8F7 0 0 0 5px,
			inset #8CE9FF 0 0 0 1px,
			inset #88E2F7 0 0 0 10px,
			inset #C5F4FF 0 0 0 11px,
			inset #BFECF7 0 0 0 16px,
			inset #19D4FF 0 0 0 17px,
			inset #18CDF7 0 0 0 22px,
			inset #53DFFF 0 0 0 23px;
	}

	43% {
		background-color: #18CDF7;

		box-shadow:
			inset #53DFFF 0 0 0 5px,
			inset #50D8F7 0 0 0 1px,
			inset #8CE9FF 0 0 0 10px,
			inset #88E2F7 0 0 0 11px,
			inset #C5F4FF 0 0 0 16px,
			inset #BFECF7 0 0 0 17px,
			inset #19D4FF 0 0 0 22px,
			inset #18CDF7 0 0 0 23px;
	}

	50% {
		background-color: #19D4FF;

		box-shadow:
			inset #18CDF7 0 0 0 5px,
			inset #53DFFF 0 0 0 1px,
			inset #50D8F7 0 0 0 10px,
			inset #8CE9FF 0 0 0 11px,
			inset #88E2F7 0 0 0 16px,
			inset #C5F4FF 0 0 0 17px,
			inset #BFECF7 0 0 0 22px,
			inset #19D4FF 0 0 0 23px;
	}

	57% {
		background-color: #18CDF7;

		box-shadow:
			inset #53DFFF 0 0 0 5px,
			inset #50D8F7 0 0 0 1px,
			inset #8CE9FF 0 0 0 10px,
			inset #88E2F7 0 0 0 11px,
			inset #C5F4FF 0 0 0 16px,
			inset #BFECF7 0 0 0 17px,
			inset #19D4FF 0 0 0 22px,
			inset #18CDF7 0 0 0 23px;
	}

	64% {
		background-color: #53DFFF;

		box-shadow:
			inset #50D8F7 0 0 0 5px,
			inset #8CE9FF 0 0 0 1px,
			inset #88E2F7 0 0 0 10px,
			inset #C5F4FF 0 0 0 11px,
			inset #BFECF7 0 0 0 16px,
			inset #19D4FF 0 0 0 17px,
			inset #18CDF7 0 0 0 22px,
			inset #53DFFF 0 0 0 23px;
	}

	72% {
		background-color: #50D8F7;

		box-shadow:
			inset #8CE9FF 0 0 0 5px,
			inset #88E2F7 0 0 0 1px,
			inset #C5F4FF 0 0 0 10px,
			inset #BFECF7 0 0 0 11px,
			inset #19D4FF 0 0 0 16px,
			inset #18CDF7 0 0 0 17px,
			inset #53DFFF 0 0 0 22px,
			inset #50D8F7 0 0 0 23px;
	}

	79% {
		background-color: #8CE9FF;

		box-shadow:
			inset #88E2F7 0 0 0 5px,
			inset #C5F4FF 0 0 0 1px,
			inset #BFECF7 0 0 0 10px,
			inset #19D4FF 0 0 0 11px,
			inset #18CDF7 0 0 0 16px,
			inset #53DFFF 0 0 0 17px,
			inset #50D8F7 0 0 0 22px,
			inset #8CE9FF 0 0 0 23px;
	}

	86% {
		background-color: #88E2F7;

		box-shadow:
			inset #C5F4FF 0 0 0 5px,
			inset #BFECF7 0 0 0 1px,
			inset #19D4FF 0 0 0 10px,
			inset #18CDF7 0 0 0 11px,
			inset #53DFFF 0 0 0 16px,
			inset #50D8F7 0 0 0 17px,
			inset #8CE9FF 0 0 0 22px,
			inset #88E2F7 0 0 0 23px;
	}

	93% {
		background-color: #C5F4FF;

		box-shadow:
			inset #BFECF7 0 0 0 5px,
			inset #19D4FF 0 0 0 1px,
			inset #18CDF7 0 0 0 10px,
			inset #53DFFF 0 0 0 11px,
			inset #50D8F7 0 0 0 16px,
			inset #8CE9FF 0 0 0 17px,
			inset #88E2F7 0 0 0 22px,
			inset #C5F4FF 0 0 0 23px;
	}

	100% {
		background-color: #BFECF7;

		box-shadow:
			inset #19D4FF 0 0 0 5px,
			inset #18CDF7 0 0 0 1px,
			inset #53DFFF 0 0 0 10px,
			inset #50D8F7 0 0 0 11px,
			inset #8CE9FF 0 0 0 16px,
			inset #88E2F7 0 0 0 17px,
			inset #C5F4FF 0 0 0 22px,
			inset #BFECF7 0 0 0 23px;
	}
}
